<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/css/landing.css" />
    <link
      rel="shortcut icon"
      href="https://cdn0.iconfinder.com/data/icons/travel-tourism-8/24/travel_tourism_camp_camping_tent-512.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div id="landing-header">
      <h1><span>Welcome to YelpCamp!</span></h1>
      <a href="/campgrounds" class="btn btn-lg btn-light mt-4"
        >View All Campgrounds</a
      >
    </div>
    <ul class="cb-slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- jQuery CDN -->
    <script
      src="http://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
